.svg
{
    position: absolute;
    bottom:0;
    left: 0;
    z-index: 2;
}
.header-con
{
    position: relative;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-con
{
    position: absolute;
    bottom:10%;
    left: 10%;
    border-radius: 40% 40% 0 0;
    outline: none;
    box-shadow: 5px 2px 2px 4px rgb(148, 142, 142);
    z-index: 1;
    background-image: url('first.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.img-con .cat
{
    position: absolute;
    top: -200px;
    margin-left: 1rem;
}

.text-con
{
    font-size: clamp(2rem, 1.4886rem + 1.3636vw, 3.125rem);
}
